.testimonials {
  grid-column: full-start / full-end;
  position: relative;
}

.bgImage {
  background-image: url("../../../assets/images/testimonial/bg.jpg");
  position: relative;
  z-index: -1;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.testimonials .image {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 3rem;
}

.testimonials img {
  border-radius: 100px;
}

.swiper-container {
  width: 100%;
}

@media (min-width: 800px) {
  .swiper-wrapper {
    display: flex;
  }
}

.swiper-slide {
  font-size: 1.8rem;
  color: #fff;
  box-sizing: border-box;
  padding-top: 4rem;
}

@media (min-width: 500px) {
  .swiper-slide {
    padding: 2rem 6rem;
  }
}

@media (min-width: 800px) {
  .swiper-slide {
    padding: 0 2rem;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem;
}

.subtitle {
  font-size: 1.4rem;
  text-transform: capitalize;
  display: inline-block;
}

.text {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2rem;
  margin: auto;
  color: #fff;
  padding: 0 1.5rem;
}