.Contact {
  grid-column: full-start / full-end;
}

.Area {
  background: #f9f9f9;
}

.Content {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .Content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Support {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 5rem 0;
}

.Support div {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .Support {
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 0;
  }
  .Support div {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .Support {
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 0;
  }
  .Support div {
    margin-bottom: 0;
  }
}

.Support h6 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.Support span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #606060;
}

.Height {
  height: 30rem;
}

@media (min-width: 1200px) {
  .Height {
    height: auto;
  }
}
