@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800|Raleway:300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #303030;
  font-size: 16px;
  line-height: 1.25em;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

p {
  color: #606060;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

a,
button,
a:before,
img,
input,
textarea {
  transition: all 300ms ease-in 0s;
}

a:hover {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:focus {
  outline: 0 none;
  text-decoration: none;
}

.link_logo {
  display: inline-block;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
select {
  font-size: 1.4rem;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

button:focus,
select:focus {
  outline: none;
}

p {
  margin: 0;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14.6rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 768px) {
  .item-grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 4rem;
  }
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.SectionCenter {
  grid-column: center-start / center-end;
}

.section-title {
  text-align: center;
  margin-bottom: 5rem;
}

@media (min-width: 500px) {
  .section-title p {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .section-title-left p {
    max-width: 60%;
    margin-right: 0;
    margin-left: 0;
  }
}

.section-title--left {
  text-align: left;
}

h2 {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left !important;
}

.p-tb {
  padding: 6rem 0;
}

.p-t {
  padding-top: 6rem;
}

.p-b {
  padding-bottom: 6rem;
}

.m-top-3 {
  margin-top: 3rem;
}

.m-top-4 {
  margin-top: 4rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.m-bottom-3 {
  margin-bottom: 3rem;
}

.m-bottom-4 {
  margin-bottom: 4rem;
}

.m-bottom-6 {
  margin-bottom: 6rem;
}

.overlay::before {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.featured_stripes {
  position: relative;
}

/* .featured_text {
  position: relative;
  font-family: "Righteous", cursive;
} */

.featured_stripes .stripe {
  width: 230px;
  height: 1200px;
  position: absolute;
}
