.NavigationItem {
  margin: 1rem 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #222 !important;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #222;
}

@media (min-width: 500px) {
  .NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    margin-left: 30px;
    position: relative;
  }
  .NavigationItem a {
    color: #222;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
  }
  .NavigationItem a:hover {
    border-bottom: 4px solid rgb(5, 4, 4);
  }
}