.Skill {
  grid-column: center-start / center-end;
  padding-top: 15rem;
}

.Skill .Content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 4rem;
}

.Skill .Big {
  color: #303030;
  float: left;
  font-size: 6rem;
  font-weight: 600;
  height: 5rem;
  line-height: 5rem;
  padding-right: 1rem;
}

.Skill .ProgressBar {
  width: 100%;
}

@include medium {
  flex-basis: 40%;
}

padding-top: 7.5rem;
@include medium {
  margin-left: 5rem;
  padding-top: 3.5rem;
}

.Bar .Progress {
  display: flex;
  font-size: 0.75rem;
}

.Bar .progress {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  height: 13px;
  margin-bottom: 55px;
  position: relative;
}

.Bar .Progress .title {
  color: #222;
  font-size: 14px;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  top: -35px;
  width: 100%;
  z-index: 99;
}

.Bar .progress-bar {
  background: $mine-shaft;
  position: relative;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: width 0.6s ease;
}

.progress-bar > span {
  color: $mine-shaft;
  font-size: 14px;
  height: 24px;
  line-height: 25px;
  position: absolute;
  right: -12px;
  top: -38px;
  width: auto;
}

.progress-bar > span::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #000;
  bottom: -8px;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
