.Skill {
  grid-column: center-start / center-end;
  padding-top: 15rem;
}

.Skill .Content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
}

.Skill .Big {
  color: #303030;
  float: left;
  font-size: 6rem;
  font-weight: 600;
  height: 5rem;
  line-height: 5rem;
  padding-right: 1rem;
}
