.Footer {
  background-color: #0f151d;
  padding: 6rem 0;
}

.Footer a {
  color: inherit;
}

.Footer .Container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #555;
  margin-bottom: 2rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

.Footer h2 {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 2rem;
  color: #ebebeb;
}

.Footer p {
  width: 57%;
  margin: auto;
  padding: 0 1.6rem;
}

.Footer .Bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.Footer .Bottom li a:hover {
  color: #fff;
}

.Footer .copyright {
  color: gray;
  font-size: 1.2rem;
}

.Footer .SocialMenu {
  display: flex;
}

.Footer .SocialMenu li a {
  margin-left: 15px;
  margin-bottom: 0;
  color: #989898;
}

.Footer .SocialMenu:hover {
  color: #0f151d;
}