.Item {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
}

.Inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.Desc {
  padding: 2rem 2rem 1.5rem;
}

.Title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}

.Title a {
  color: #303030;
}

.BlogBtn {
  align-self: flex-end;
  flex-basis: 100%;
  padding: 0 2rem 2rem;
}

.BlogBtn a {
  position: relative;
  color: #303030;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 0;
}

.Pagination {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}